# No whitespace after the comma or in your keyboard name!
config SHIELD_PANGEA_HANDWIRE_L
    def_bool $(shields_list_contains,pangeaHandwireL)

# No whitespace after the comma or in your keyboard name!
config SHIELD_PANGEA_HANDWIRE_R
    def_bool $(shields_list_contains,pangeaHandwireR)