#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
//#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {         // layer 0
            display-name = "default";
//|  n/a  |   1   |   2   |   3   |   4   |   5   |                      |   6   |   7   |   8   |   9   |   0   |  n/a  |
//|  TAB  |   Q   |   W   |   E   |   R   |   T   |                      |   Y   |   U   |   I   |   O   |   P   |  ; :  |
//| SHIFT |   A   |   S   |   D   |   F   |   G   |                      |   H   |   J   |   K   |   L   |  ' "  | SHIFT |
//|  CTRL |   Z   |   X   |   C   |   V   |   B   |                      |   N   |   M   |  , <  |  . >  |  / ?  | CTRL  |
//            |   n/a   |       |  ALT  |  RET  |       |||   n/a   |       |  SPC  |  ALT  |       |

            bindings = <
&none       &kp N1   &kp N2   &kp N3   &kp N4   &kp N5             ||            &kp N6   &kp N7   &kp N8    &kp N9   &kp N0    &none - BSPC
&kp TAB     &kp Q    &kp W    &kp E    &kp R    &kp T              ||            &kp Y    &kp U    &kp I     &kp O    &kp P     &kp SEMI
&kp LSHIFT  &kp A    &kp S    &kp D    &kp F    &kp G              ||            &kp H    &kp J    &kp K     &kp L    &kp APOS  &kp RSHIFT
&kp LCTRL   &kp Z    &kp X    &kp C    &kp V    &kp B              ||            &kp N    &kp M    &kp COMMA &kp DOT  &kp FSLH  &kp RCTRL

                    &none    &kp     &kp LALT     &kp RET    &kp ESC  ||  &none    &kp BSPC    &kp SPACE    &kp RALT    &kp  
            >;
                    // &none    &kp     &kp LALT     &lt 3 RET    &kp   ||  &none    &kp     &lt 2 SPACE    &kp RALT    &kp  
//layer 2 = num & ?
//layer 3 = programming
//nav layer
//function layer?


//press and holds:                                  layer    LGUI                   RGUI    layer
// FOR NOW ONLY : TAB HOLD -> esc
        };
    };
};


//|  n/a  |   1   |   2   |   3   |   4   |   5   |                       |   6   |   7   |   8   |   9   |   0   |  n/a  |
//|  TAB  |   Q   |   W   |   E   |   R   |   T   |                       |   Y   |   U   |   I   |   O   |   P   |   ;   |
//| SHIFT |   A   |   S   |   D   |   F   |   G   |                       |   H   |   J   |   K   |   L   |   '   | SHIFT |
//|  CTRL |   Z   |   X   |   C   |   V   |   B   |                       |   N   |   M   |   ,   |   .   |   /   | CTRL  |
//                           |       |  ALT  |  RET  |       |||       |  SPC  |  ALT  |  BKSP  |

// SHIFT "layer" of base
//|  n/a  |   !   |   @   |   #   |   $   |   %   |                       |   ^   |   &   |   *   |   (   |   )   |  n/a  |
//|  TAB  |       |       |       |       |       |                       |       |       |       |       |       |   :   |
//| SHIFT |       |       |       |       |       |                       |       |       |       |       |   "   | SHIFT |
//|  CTRL |       |       |       |       |       |                       |       |       |   <   |   >   |   ?   | CTRL  |
//                           |       |  ALT  |  RET  |       |||       |  SPC  |  ALT  |  BKSP  |

//Legend:
        // &kp - basic keypress behaviour
        // &lt # a - when tapped acts as kp a, when held enables layer # 
    //     BSPC    Backspace
    //     SPACE   Space
    //     RET     enter
    //     TAB     tab
    //     LSHIFT  left shift 
    //     RSHIFT  right shift
    //     ESC     escape

    //     DEL     delete
    //     INS     insert
    
    // Modifiers
    //     LCTRL   left Control
    //     RCTRL   right Control
    //     LALT    left Alt
    //     RALT    right Alt
    //     LGUI    left 'gui' (win/super/cmd)
    //     RGUI    right 'gui' (win/super/cmd)

    // punctuation (standard)
    //     COMMA   , and <
    //     DOT     . and >
    //     FSLH    / and ?
    //     SEMI    ; and :
    //     APOS    ' and "

    //     EQUAL   = and +
    //     MINUS   - and _
    //     BSLH    \ and |
    //     LBKT    [ and {
    //     RBKT    ] and }
    //     GRAVE   ` and ~

    // symbols oft beside alphas ! ? ( ) : 
    // ALMOST ALWAYS next to alphas (rarely non-alphas)    . ' " _ (,)ish
